<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Articles</display-name>
  <filter>
    <display-name>AccessFilter</display-name>
    <filter-name>AccessFilter</filter-name>
    <filter-class>articleswebapp.filters.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/articles/*</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>User Authorization</display-name>
    <servlet-name>User Authorization</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>articleswebapp.resources</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <display-name>Articles Service</display-name>
    <servlet-name>Articles Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>articleswebapp.resources</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>User Authorization</servlet-name>
    <url-pattern>/users/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Articles Service</servlet-name>
    <url-pattern>/articles/*</url-pattern>
  </servlet-mapping>
</web-app>